/* ==================== 1400px ================= */

@media (max-width: 991px)
    .container
        padding: 0 12px

/* ==================== 767px ================= */

@media (max-width: 767px)
    .header__logo
        width: 160px
    .header__official
        font-size: 11px
        span
            font-size: 16px
    .promo
        min-height: 600px
        &__wrapper
            margin-top: 48px
            align-items: center
        &__header
            font-size: 38px
        &__subheader
            font-size: 20px
            margin-top: 0
        &__icons
            margin-top: 48px
    .advantage
        padding: 60px 0
        &__wrapper
            margin-top: 16px
            flex-direction: column
            align-items: center
        &__item
            margin-top: 20px
            width: 370px
            &-header
                font-size: 22px
                margin-top: 24px
        &__text
            font-size: 17px

/* ==================== 575px ================= */

@media (max-width: 575px)
    .header
        flex-direction: column
        &__logo
            display: none
        &__official
            font-size: 16px
            span
                font-size: 26px
        &__contacts
            flex-direction: row
            a
                margin-right: 10px
                font-size: 16px
            button
                width: 138px
    .promo
        &__header
            font-size: 23px
            line-height: 38px
        &__subheader
            font-size: 13px
            line-height: 22px
        &__icons
            max-width: 100%
        &__icon
            font-size: 13px
        .button_main
            font-size: 14px
            width: 234px
    .advantage
        &__item
            max-width: 100%

